version: '3'

services:
  php:
    build: ./docker/php
    container_name: php4-fpm
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    ports:
      - 9000:9000

  nginx:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/:/etc/nginx/conf.d
    depends_on:
      - php

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./docker/postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
